body {
  background-image: url(unnamed.jpg) ;
  background-size: cover;
  background-position: center;
}
.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Container .img-container {
  background-color: rgb(250, 79, 0);
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.Container img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 12em;
  max-height: 100%;
  object-position: center;
}
.Container input {
  padding: 10px 30px;
  width: 200px;
  direction: rtl;
  background: #fff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-family: "algirah";
}
.Container input:focus {
  border: none;
  outline: none;
}

.Container button {
  padding: 5px 30px;
  width: 200px;
  direction: rtl;
  background: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  font-family: "lemon brush";
}

.Container #error {
  display: none;
  background: rgb(173, 68, 68);
  padding: 5px 15px;
  direction: rtl;
  font-family: "algirah";
}
.Container a {
  color: rgb(212, 175, 55);
  direction: rtl;
  font-family: "algirah";
  padding: 10px;
}
.Container a {
  color: #fff;
  text-decoration: none;
  direction: rtl;
  font-family: "algirah", 'Cairo';
  padding: 10px;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.Container a span {
    color: #D4AF37; /* كلمة "سجل" تبقى ذهبي */
    font-weight: bold;
    text-decoration: underline;
}

.Container a:hover {
  opacity: 1;
}