.login-form {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.login-form input {
  padding: 7px 25px;
  direction: rtl;
  border-radius: 10px;
  border: none;
  outline: none;
}
.login-form button {
  padding: 8px 25px;
  border-radius: 10px;
  margin: 15px 0px;
  border: none;
  outline: none;
  background: var(--color-5);
  color: var(--color-1);
}

.login-form a {
  color: beige;
  text-decoration: none;
}
.login-form a > span {
  color: var(--color-5);
}
.login-form .error{
  direction: rtl;
  padding: 5px;
  background: #DC3545;
  margin: 10px 0px;
  border-radius: 5px;
}
