.register-form img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 12em;
  max-height: 100%;
  object-position: center;
}
.register-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
#pop {
  text-align: center;
  position: absolute;
  background: #fffffff6;
  border-radius: 50px;
  padding: 15px;
  width: 80%;
  height: 70%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  direction: rtl;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);

  transition: opacity 0.5s ease, transform 0.5s ease;
}
.register-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register-form form input {
  padding: 10px 30px;
  width: 200px;
  direction: rtl;
  background: #fff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-family: "algirah";
}
.register-form form  input:focus {
  border: none;
  outline: none;
}

#pop h2 {
  font-size: 30px;
  font-family: "lemon brush";
  margin-bottom: 0;
  padding: 0;
}
#pop p {
  font-family: "algirah";
}

#pop button{
  padding: 5px;
  background: #000;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 50%;
}
.register-form a {
  color: rgb(212, 175, 55);
  direction: rtl;
  font-family: "algirah";
  padding: 10px;
}
