.register-form {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.register-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.register-form form input {
  padding: 7px 25px;
  direction: rtl;
  border-radius: 10px;
  border: none;
  outline: none;
}

.register-form form input[type="submit"] {
  padding: 8px 25px;
  border-radius: 10px;
  margin: 15px 0px;
  border: none;
  outline: none;
  background: var(--color-5);
  color: var(--color-1);
}

.register-form a {
  color: beige;
  text-decoration: none;
}
.register-form a > span {
  color: var(--color-5);
}

.register-form .popup{
  position: absolute;
  display: block;
  background: var(--color-2);
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border-radius: 50px;
  direction: rtl;
}
.register-form .popup button{
  border: none;
  padding: 10px 20px ;
  border-radius: 20px;
}