@font-face {
    font-family: 'lemon brush';
    src: url('./fonts/lemon-brush/LemonBrushArabicPersonalUseOnly-Regular.otf');
}
@font-face {
    font-family: 'algirah';
    src: url('./fonts/aligarh/AligarhArabicFREEPERSONALUSE-Regular.otf');
}


body{
    margin: 0;
    padding: 0;
    background: #000000;
}